* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #5f72ab;
    font-family: Comic Sans MS, cursive;
}

h1 {
    text-align: center;
}

.memes-box {
    max-width: 90%;
    margin: 0 auto;
}

.meme-item {
    background-color: #919ec5;
}

.meme-title {
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.meme-input {
    appearance: none;
    display: none;
}

.meme-input:checked ~ .meme {
    max-height: 30%;
    opacity: 1;
    transition: all 0.9s;
}

.meme-input:checked ~ label .arrow {
    transform: rotate(-180deg);
    transition: all 0.9s;
  }

.meme {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.9s;
}

@media (hover: hover)  {

    .meme-item:hover {
        background-color: #acbdee;
        transition: all .3s ease-out;
    }

    .meme-item {
        cursor: pointer;
    }

    .meme-title {
        cursor: pointer;
    }
}

@media only screen and (max-device-width: 819px) {

    body {
        font-size: 1rem;
        line-height: 100%;
    }

    h1 {
        margin: 10% auto;
    }

    .meme-item {
        margin-bottom: 3%;
    }

    .meme-title {
        padding: 2%;
    }

    .arrow {
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 1rem 0.5rem 0 0.5rem;
        border-color: #307ac9 transparent transparent transparent;
        transition: all 0.9s;
    }

    .meme-pic {
        max-height: 60%;
        max-width: 80%;
        margin: 3% 10%;
    }

}
